html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (min-width: 768px) {
  .col-1-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; } }

footer {
  background-color: #0d0d0d;
  color: #a3a49e;
  width: 100%; }
  footer ul li a {
    color: #32332d; }
  footer ul li a:hover {
    color: white;
    text-decoration: none; }
  footer .social-icons {
    color: #fff; }
  footer .social-icons li {
    display: inline; }
  footer .social-icons a {
    color: #fff;
    text-decoration: none; }
  footer .fa-twitter {
    padding: 8px 10px;
    margin: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid #a3a49e; }
  footer .fa-twitter:hover {
    background-color: white;
    color: black; }
  footer .fa-youtube {
    padding: 8px 10px;
    margin: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid #a3a49e; }
  footer .fa-youtube:hover {
    background-color: white;
    color: black; }
  footer .fa-linkedin-in {
    padding: 8px 10px;
    margin: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid #a3a49e; }
  footer .fa-linkedin-in:hover {
    background-color: white;
    color: black; }
  footer .fa-google-plus-g {
    padding: 8px 9px;
    margin: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid #a3a49e; }
  footer .fa-google-plus-g:hover {
    background-color: white;
    color: black; }
  footer .fa-facebook-f {
    padding: 8px 13px;
    margin: 3px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid #a3a49e; }
  footer .fa-facebook-f:hover {
    background-color: white;
    color: black; }

#hero {
  position: relative;
  height: 100vh;
  margin: 0; }

#carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.carousel-inner,
.carousel-item {
  height: 100%; }

.carousel-item {
  background: no-repeat center/cover; }

a.redd {
  color: red !important;
  margin-right: 50px; }

li .carred {
  background-color: red; }

ol.carousel-indicators {
  margin-bottom: 10%; }

.navbartop {
  position: absolute;
  top: 0px;
  background: transparent;
  margin-top: 1%;
  display: flex !important;
  text-transform: uppercase;
  font-size: 12px; }
  .navbartop .navright {
    justify-content: space-between;
    padding-left: 300px; }
  .navbartop a {
    color: #fff; }
  .navbartop .navbar-toggler {
    background-color: #000;
    opacity: 0.8;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin-right: 10px; }
    .navbartop .navbar-toggler .navbar-toggler-icon {
      color: #fff;
      background-color: #fe4240;
      height: 3px;
      margin: 3px; }
  .navbartop .logo {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto', sans-serif; }
    .navbartop .logo .redlogo {
      color: #fe4240; }
  .navbartop .genre {
    background-color: #fe4240;
    color: #fff !important;
    margin-right: 5px; }
  .navbartop .section {
    color: #fff !important;
    margin-right: 5px;
    position: relative; }
  .navbartop .boxsection {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 5px; }
  .navbartop .dropdown-menu {
    background-color: #fff;
    border-radius: 0; }
    .navbartop .dropdown-menu .dropdown-item {
      font-size: 12px;
      color: #000 !important; }
      .navbartop .dropdown-menu .dropdown-item:hover {
        color: #fff !important;
        background-color: #fe4240; }
  .navbartop .search {
    position: relative; }
    .navbartop .search .fa-search {
      color: #fff !important;
      position: absolute; }
    .navbartop .search .fa {
      right: 8%; }
    .navbartop .search .formborder {
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      height: 30px; }
    .navbartop .search input::placeholder {
      color: #fff; }
    .navbartop .search .btn {
      border-radius: 30px; }

span.red {
  color: #fe4240; }

p.sous-titre {
  color: whitesmoke;
  font-size: 3em;
  display: flex;
  justify-content: center; }

p.bas-sous-T {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  justify-content: center; }

div.coucou {
  margin-top: 200px; }

div.carousel-item {
  filter: brightness(50%); }

a.bouton-trailer {
  background: #ff0000;
  color: white !important; }

a.contact {
  margin-left: 100px; }

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 10px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: black;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

/* Style the submit button */
form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 10px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

form.example button:hover {
  background: #4b4949; }

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table; }

input.recherche {
  color: white !important; }

#gdpr-box {
  display: block;
  width: 100%;
  background: #e72222;
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 99;
  display: flex;
  margin-top: 5px;
  padding: 0;
  margin-left: -15px; }

#gdpr-box p {
  padding: 8px 8px 8px;
  font-size: 12px;
  line-height: 18px;
  margin-top: 0; }

#gdpr-box a {
  color: #fff; }

#gdpr-box button.gdpr-button-accept {
  background: none;
  color: #fff;
  font-size: 12px; }

#gdpr-box button.gdpr-button-accept,
#gdpr-box a.gdpr-button-settings {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 5px 4px;
  text-decoration: none;
  margin: 0 0 20px 20px;
  border-radius: 2px;
  font-weight: 800;
  font-size: 12px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-top: 10px;
  width: 70px; }

#gdpr-box button.gdpr-button-accept:hover {
  cursor: pointer; }

#gdpr-box button.gdpr-button-accept:hover,
#gdpr-box a.gdpr-button-settings:hover {
  background: #0d0d0d; }

@media screen and (max-width: 1500px) {
  .navbartop {
    padding-top: 0 !important;
    margin-top: 0; }
    .navbartop .navright {
      justify-content: space-between;
      padding-left: 0px; }
  a.contact {
    margin-left: 0px; } }

@media screen and (max-width: 992px) {
  p.sous-titre {
    font-size: 2em; }
  div.coucou {
    margin-top: 0px; } }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

/* Set a style for all buttons */
button.bout-login {
  color: #fff;
  background: #0d0d0d;
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 5px 4px;
  text-decoration: none;
  margin: 0 0 20px 20px;
  border-radius: 2px;
  font-weight: 800;
  font-size: 12px;
  margin-top: 10px;
  width: 70px; }

button.bout-login:hover {
  opacity: 0.8; }

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white; }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative; }

button.bout-login {
  color: #fff;
  background: #0d0d0d;
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px 5px 4px;
  text-decoration: none;
  margin: 0 0 20px 20px;
  border-radius: 2px;
  font-weight: 800;
  font-size: 12px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-top: 10px;
  width: 70px; }

.xd {
  padding: 16px; }

span.psw {
  float: right;
  padding-top: 16px; }

/* The Modal (background) */
.log {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px; }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer; }

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

div.dimcook {
  display: flex;
  justify-content: center; }

div.butcook {
  display: flex;
  justify-content: center; }

button.boutcook {
  border: solid 2px #fff;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  cursor: pointer; }

p.textcook {
  font-size: 2em;
  font-weight: bold; }

#cookie {
  position: absolute;
  background-color: #c40101;
  color: #ecf3ec;
  border: 5px solid #110b0b;
  padding: 1em;
  z-index: 1000; }

.cookie {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.social-link {
  position: fixed;
  top: 25%;
  z-index: 100; }
  .social-link .twitter {
    background: #1DA1F3; }
  .social-link .facebook {
    background: #3b5998; }
  .social-link .googlep {
    background: #DD4B3F; }
  .social-link a {
    display: flex;
    align-items: center;
    position: relative;
    width: 140px;
    margin-bottom: 12px;
    padding: 10px 8px;
    border-radius: 0 100px 100px 0;
    color: #fff;
    transform: translateX(-90px);
    transition: all 0.3s ease-in-out; }
    .social-link a p {
      margin: 0; }
    .social-link a .ico {
      position: absolute;
      right: 10px;
      padding: 8px;
      background: #fff;
      border-radius: 100px;
      color: #000; }
  .social-link a:hover {
    transform: translateX(0px);
    text-decoration: none;
    color: #fff; }

#popup-age {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  #popup-age .question-age {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 24px; }
    #popup-age .question-age p {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 20px;
      border: 4px solid #fe4240; }
    #popup-age .question-age button {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 10px 40px;
      border: 4px solid #fe4240; }

.secondTitle {
  padding: 4px 0 4px 16px;
  border-left: 5px solid #fe4240;
  margin: 10px 0;
  transform: translateX(-100px);
  text-transform: uppercase; }

.card {
  border: none !important;
  display: flex;
  align-items: center;
  padding: 0 !important; }
  .card .card-title {
    font-size: 16px; }

.section-film {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px; }

.section-film,
.section-features,
.section-shop {
  padding: 15px 15px 0 15px; }
  .section-film .featured-more,
  .section-features .featured-more,
  .section-shop .featured-more {
    background: #fe4240;
    color: #fff; }
  .section-film .gender button,
  .section-features .gender button,
  .section-shop .gender button {
    margin: 0 4px 4px 4px;
    padding: 8px 28px;
    border: none; }
  .section-film .gender .active,
  .section-features .gender .active,
  .section-shop .gender .active {
    background: #fe4240;
    color: #f1eff0; }
  .section-film img,
  .section-features img,
  .section-shop img {
    display: block;
    width: 95%;
    height: 236px; }
  .section-film .card-body,
  .section-features .card-body,
  .section-shop .card-body {
    position: relative; }
    .section-film .card-body .card-title,
    .section-features .card-body .card-title,
    .section-shop .card-body .card-title {
      margin-bottom: 25px;
      width: 150px; }
    .section-film .card-body .card-text,
    .section-features .card-body .card-text,
    .section-shop .card-body .card-text {
      position: absolute;
      bottom: 16px; }
    .section-film .card-body .genre,
    .section-features .card-body .genre,
    .section-shop .card-body .genre {
      right: 2px; }
    .section-film .card-body .annee,
    .section-features .card-body .annee,
    .section-shop .card-body .annee {
      left: 2px; }

.section-shop .shop-fleche {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #000;
  padding: 0 10px;
  margin-left: 2px; }

.section-shop .shop-left {
  flex-flow: row wrap; }
  .section-shop .shop-left img {
    display: block;
    width: 85%;
    height: 236px; }

.section-shop .shop-right {
  display: flex;
  flex-flow: row wrap; }
  .section-shop .shop-right .shop-preview .shop-video {
    height: 60%;
    padding: 0; }
    .section-shop .shop-right .shop-preview .shop-video iframe {
      height: 100%;
      width: 100%; }
  .section-shop .shop-right .shop-preview .shop-body {
    background: #0d0d0d;
    color: #fe4240;
    height: 40%;
    font-weight: bold;
    border-radius: 0 0 5px 5px; }
    .section-shop .shop-right .shop-preview .shop-body .shop-content {
      margin-bottom: 10px;
      align-items: center; }
      .section-shop .shop-right .shop-preview .shop-body .shop-content h4 {
        margin: 0; }
        .section-shop .shop-right .shop-preview .shop-body .shop-content h4 .twop {
          margin: 0 50px; }
      .section-shop .shop-right .shop-preview .shop-body .shop-content p {
        margin: 0;
        color: #dfdbdb; }

#arrow-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 998;
  padding: 6px 10px;
  border: 2px solid #000;
  border-radius: 100px; }

@media screen and (max-width: 1500px) {
  .secondTitle {
    transform: translateX(0);
    margin-left: 10px; } }

@media screen and (max-width: 992px) {
  .social-link {
    display: none; }
  .section-film .gender,
  .section-features .gender,
  .section-shop .gender {
    justify-content: center; }
    .section-film .gender button,
    .section-features .gender button,
    .section-shop .gender button {
      margin: 0 4px 10px 4px; }
  .section-film img,
  .section-features img,
  .section-shop img {
    display: block;
    width: 80%; }
  .section-film .shop-left img,
  .section-features .shop-left img,
  .section-shop .shop-left img {
    display: block;
    width: 80%;
    height: inherit; }
  .section-film .shop-right,
  .section-features .shop-right,
  .section-shop .shop-right {
    height: 900px; } }

@media screen and (max-width: 360px) {
  div.shop-right {
    height: 1200px !important; } }
